<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Abbuchung</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <form [formGroup]="abbuchungForm" (ngSubmit)="abbuchungdurchfuehren()">
    <div class="modal-body">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="bi bi-key-fill"></i></span>
        <input formControlName="wert" type="number" class="form-control" placeholder="geld" aria-label="E-Key-ID" min="1" max="{{maxammount}}">
      </div>

      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-pencil-square"></i></span>
        <textarea formControlName="notiz" class="form-control" placeholder="Warum?" aria-label="Notizen"></textarea>
      </div>


    </div>
    <div class="modal-footer d-flex justify-content-around">
      <div class="col-4">
      <p *ngIf="abbuchungForm.value.wert===null||abbuchungForm.value.wert!<0">Bitte gib einen Betrag >0 an!</p>
      <p *ngIf="maxammount!<abbuchungForm.value.wert!">Bitte bleib unter {{maxammount}}€!</p>
      <p *ngIf="abbuchungForm.value.notiz==''">Bitte gib einen Verwendungszweck an!</p>
      </div>
      <div class="col-2">
      <button type="submit" class="btn btn-primary" [disabled]="!abbuchungForm.valid">Abbuchung durchführen</button>
    </div>
    </div>
  </form>
</ng-template>

<button class="btn btn-secondary m-2" (click)="open(content)">Aus freiem Budget abbuchen</button>

