<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">E-Key hinzufügen</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <form [formGroup]="ekey" (ngSubmit)="saveEkey()">
  <div class="modal-body">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="bi bi-key-fill"></i></span>
        <input formControlName="ekeyid" type="text" class="form-control" placeholder="E-Key-ID" aria-label="E-Key-ID">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Besitzer</label>
        <select formControlName="besitzer" class="form-select" id="inputGroupSelect01">
          <option value="FSR" selected>FSR</option>
          <option value="Student">Student</option>
          <option value="verloren">verloren</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Status</label>
        <select formControlName="zustand" class="form-select" id="inputGroupSelect02">
          <option value="defekt">defekt</option>
          <option value="gesperrt">gesperrt</option>
          <option value="funktioniert">funktioniert</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Berechtigung</label>
        <select formControlName="berechtigung" class="form-select" id="inputGroupSelect03">
          <option value="STUD">STUD</option>
          <option value="FSRF">FSRF</option>
          <option value="FSR">FSR</option>
        </select>
      </div>


      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-pencil-square"></i></span>
        <textarea formControlName="notiz" class="form-control" placeholder="Notizen" aria-label="Notizen"></textarea>
      </div>


    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!ekey.valid">E-Key erstellen</button>
    </div>
  </form>
</ng-template>

<button class="btn btn-primary" (click)="open(content)">E-Key hinzufügen</button>

