<div class="d-flex justify-content-end mt-3 mb-3">
  <app-create-ekey-modal></app-create-ekey-modal>
</div>

<div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col">EkeyID</div>
        <div class="col">Besitzer</div>
        <div class="col">Status</div>
        <div class="col">Berechtigung</div>
        <div class="col">Notiz</div>
      </div>
    </li>

    @for (ekey of ekeys; track ekey.ekeyID) {<!--  TODO: schöner mit ngFor machen-->
      <li class="list-group-item">
        <div class="row">
          <div class="col">{{ ekey.ekeyID }}</div>
          <div class="col">{{ ekey.besitzer }}</div>
          <div class="col">{{ekey.zustand }}</div>
          <div class="col">{{ ekey.berechtigung }}</div>
          <div class="col">{{ ekey.notiz }}</div>
        </div>
      </li>
    }
  </ul>
</div>
