<div class="container text-center">
  <div class="row justify-content-center ">
    <div class="col col-sm-10 col-lg-5 ">
      <img ngSrc="./assets/images/fsrlogo_white.svg" class="img-fluid" height="2534" width="4000" alt="fsrlogo">
      <h1 class="mt-2 mb-3">E-Key-Manager</h1>
      <form>
        <div class="input-group mb-3">
          <span class="input-group-text">&#64;</span>
          <input type="text" class="form-control" placeholder="E-Mail" aria-label="E-Mail">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
          <input type="password" class="form-control" placeholder="Passwort" aria-label="Passwort" >
        </div>
        <button class="btn btn-primary mb-3" >Anmelden</button>
        <div class="alert alert-warning" ></div>
      </form>
    </div>
  </div>
</div>
