<div class="container text-center">
  <div class="row justify-content-center ">
    <div class="col col-sm-10 col-lg-5 ">
      <h1 class="mt-2 mb-3">Rückgabe-Guide</h1>
      <form [formGroup]="rueckgabe" >
        <div>
          <input type="radio" class="btn-check" id="option1" autocomplete="off" formControlName="rueckgabeNachMatrNr" [value]="false">
          <label class="btn btn-secondary m-2" for="option1" (click)="rueckgabe.reset()">nach KeyId</label>

          <input type="radio" class="btn-check" id="option2" autocomplete="off" formControlName="rueckgabeNachMatrNr" [value]="true">
          <label class="btn btn-secondary m-2" for="option2" (click)="rueckgabe.reset()">nach MatNr</label>
        </div>

        @if (rueckgabe.value.rueckgabeNachMatrNr === true) {
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            <input type="text" class="form-control" placeholder="Matrikelnummer" aria-label="atrikelnummer" formControlName="matrNr">
          </div>
          <button type="submit" class="btn btn-primary mb-3" [disabled]="!rueckgabe.valid">Weiter zur Übersicht</button>
        } @else if(rueckgabe.value.rueckgabeNachMatrNr === false) {
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
            <input type="text" class="form-control" placeholder="E-Key-ID" aria-label="E-Key-ID" formControlName="ekeyID">
          </div>
          <button type="submit" class="btn btn-primary mb-3" [disabled]="!rueckgabe.valid">Weiter zur Übersicht</button>
        }
        <p>Form value: {{ rueckgabe.value | json }}</p>
      </form>



    </div>
  </div>
</div>
