<div class="container">
  <div class="row justify-content-center ">
    <div class="col col-sm-11 col-lg-7">
      <h1 class="mt-2 mb-3 text-center">Ausleihe</h1>

      <form (ngSubmit)="onStudentsubmit()" [formGroup]="student" *ngIf="step==0" #form="ngForm" class="form">
        <div class="form-group">

          <div class="input-group has-validation">
            <span class="input-group-text">V</span>
            <div class="form-floating is-invalid">
              <input type="text" class="form-control" [ngClass]="{'is-invalid': student.controls.vorname.invalid}"
                     placeholder="Vorname" required formControlName="vorname">
              <label>Vorname</label>
            </div>
          </div>

          <br>

          <div class="input-group has-validation">
            <span class="input-group-text">V</span>
            <div class="form-floating is-invalid">
              <input type="text" class="form-control" [ngClass]="{'is-invalid': student.controls.nachname.invalid}"
                     placeholder="Nachname" required formControlName="nachname">
              <label>Nachname</label>
            </div>
          </div>

          <br>

          <div>
            <div class="input-group has-validation">
              <span class="input-group-text">V</span>
              <div class="form-floating is-invalid">
                <input type="text" class="form-control" [ngClass]="{'is-invalid': student.controls.email.invalid}"
                       placeholder="E-Mail" required formControlName="email">
                <label>E-Mail</label>
              </div>
              <span class="input-group-text">&#64;stud.fh-dortmund.de</span>
              <div class="invalid-feedback" *ngIf="student.controls.email.invalid">
                vorname.nachname000
              </div>
            </div>
          </div>

          <br>

          <div class="input-group has-validation">
            <span class="input-group-text">V</span>
            <div class="form-floating is-invalid">
              <input type="text" class="form-control" [ngClass]="{'is-invalid': student.controls.matrnr.invalid}"
                     placeholder="Matrikelnummer" required formControlName="matrnr">
              <label>Matrikelnummer</label>
            </div>
            <div class="invalid-feedback" *ngIf="student.controls.matrnr.invalid">
              7 Zahlen
            </div>
          </div>


          <button type="submit" class="btn btn-primary" [disabled]="!student.valid"> Ausleihe beginnen</button>
        </div>
      </form>


      <form (ngSubmit)="onKeySumbmit()" [formGroup]="ekey" *ngIf="step==1">

        <div class="alert alert-danger" *ngIf="error">{{error}}</div>

        <div class="input-group has-validation">
          <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
          <div class="form-floating is-invalid">
            <input type="text" class="form-control" [ngClass]="{'is-invalid': ekey.controls.ekeyid.invalid}"
                   placeholder="Matrikelnummer" required formControlName="ekeyid" autofocus>
            <label>E-Key-ID</label>
          </div>
          <div class="invalid-feedback" *ngIf="ekey.controls.ekeyid.invalid">
            9 Zeichen
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="ekey.invalid"> Ausleihe beginnen</button>
      </form>

      <form *ngIf="step==2">
        hier ist dein PDF, jetzt druck es und lass es ausfüllen
        <br>Name:{{ student.value.vorname }} {{ student.value.nachname }}
        <br>Mail:{{ student.value.email }}
        <br> Matrikelnummer: {{ student.value.matrnr }}
        <br>möchte den Ekey
        <br>
        {{ ekey.value }} ausleihen.
        <label for="note">E-Key ID:</label>
        <input name="note" type="text" [(ngModel)]="ausleihenotiz" class="form-control" autofocus>
        <br>
        <button (click)="submit()" class="btn btn-primary"> Ausleihe druchführen</button>
      </form>


      <div *ngIf="step==3">
        great Success!
        <br>
        <a href="/">
          <button class="btn btn-primary">Zurück zum Dashboard</button>
        </a>
      </div>
    </div>
  </div>
</div>
